
.wb {color: ffffff; font: bold 12px arial, helvetica, sans-serif;}
.bb {color: 000000; font: bold 12px arial, helvetica, sans-serif;}
.reg {color: 000000; font: 12px arial, helvetica, sans-serif;}
.hd {color: 000000; font: bold 14px arial, helvetica, sans-serif;}
.small {color: 000000; font: 9px arial, helvetica, sans-serif;}
.hdred {color: 800000; font: bold 14px arial, helvetica, sans-serif;}