.wb {
	FONT: bold 12px arial, helvetica, sans-serif; COLOR: #ffffff
}
.bb {
	FONT: bold 12px arial, helvetica, sans-serif; COLOR: #000000
}
.reg {
	FONT: 12px arial, helvetica, sans-serif; COLOR: #000000
}
.hd {
	FONT: bold 14px arial, helvetica, sans-serif; COLOR: #000000
}
.small {
	FONT: 9px arial, helvetica, sans-serif; COLOR: #000000
}
.hdred {
	FONT: bold 14px arial, helvetica, sans-serif; COLOR: #800000
}
