.preHeaderRegion {
	WIDTH: 1000px
}
.headerRegion {
	WIDTH: 1000px
}
.postHeaderRegion {
	WIDTH: 1000px
}
.postHeaderRegion1 {
	WIDTH: 1000px
}
.regionParent {
	WIDTH: 1000px
}
.region1 {
	WIDTH: 160px
}
.region2 {
	WIDTH: 660px
}
.region3 {
	WIDTH: 160px
}
.footerRegion {
	WIDTH: 1000px
}
.regionSpacer {
	WIDTH: 10px
}
