BODY {
	MARGIN: 0px
}
.regionDefault {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
.regionSpacer {
	BORDER-RIGHT: 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: 0px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: 0px solid; PADDING-TOP: 0px; BORDER-BOTTOM: 0px solid
}
TD.preHeaderRegion {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
TD.headerRegion {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
TD.postHeaderRegion {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
TD.postHeaderRegion1 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
.region1 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
.region2 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
.region3 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
.region4 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
.region5 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
.region6 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
.region7 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
.region8 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
.region9 {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
.footerRegion {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: left
}
.indexArticleTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000; FONT-FAMILY: verdana,arial,sans-serif
}
.indexArticleLinkTo {
	FONT-SIZE: 10px; COLOR: #008; FONT-FAMILY: verdana,arial,sans-serif
}
.indexArticleBlurb {
	FONT-SIZE: 10px; COLOR: #000; FONT-FAMILY: verdana,arial,sans-serif
}
.indexSectionTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #c33; FONT-FAMILY: verdana,arial,sans-serif; TEXT-DECORATION: underline
}
.articleListingPhotoCredit {
	DISPLAY: none
}
.indexArticleSpacer {
	DISPLAY: none
}
.complexListingItem {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
.articleListingDivider {
	DISPLAY: none
}
.listingItemDate {
	FONT-WEIGHT: normal; COLOR: #333
}
.listingItemDateWithBlurb {
	FONT-WEIGHT: normal; COLOR: #333
}
.complexListingOverline {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #888; FONT-FAMILY: verdana,arial,sans-serif
}
.complexListingSubTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #888; FONT-FAMILY: verdana,arial,sans-serif
}
.articleBlurb {
	FONT-SIZE: 10px; COLOR: #666; FONT-FAMILY: verdana,arial,sans-serif
}
.articleDate {
	FONT-SIZE: 10px; COLOR: #008; FONT-FAMILY: verdana,arial,sans-serif
}
.articleOverline {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #888; FONT-FAMILY: verdana,arial,sans-serif
}
.articleTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000; FONT-FAMILY: verdana,arial,sans-serif
}
.articleSubTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #888; FONT-FAMILY: verdana,arial,sans-serif
}
.articleBody {
	FONT-SIZE: 10px; COLOR: #000; LINE-HEIGHT: 1.2; FONT-FAMILY: verdana,arial,sans-serif
}
.articleViewerGroup {
	FLOAT: right; MARGIN: 0px; TEXT-ALIGN: right
}
.articlePosition1 {
	MARGIN: 0px 0px 10px; TEXT-ALIGN: left
}
.articlePosition3 {
	MARGIN-TOP: 10px; FLOAT: right; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 10px
}
.articlePosition5 {
	MARGIN-TOP: 10px; FLOAT: right; MARGIN-BOTTOM: 10px; MARGIN-LEFT: 10px
}
.articlePosition2 {
	MARGIN-TOP: 10px; FLOAT: left; MARGIN-BOTTOM: 10px; MARGIN-RIGHT: 10px
}
.articlePosition4 {
	MARGIN-TOP: 10px; FLOAT: left; MARGIN-BOTTOM: 10px; MARGIN-RIGHT: 10px
}
.articlePosition6 {
	MARGIN-TOP: 10px; FLOAT: left; MARGIN-BOTTOM: 10px; MARGIN-RIGHT: 10px
}
.articlePositionHeader {
	TEXT-ALIGN: center
}
.articlePositionHeader DIV {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto; TEXT-ALIGN: left
}
.articlePositionFooter {
	TEXT-ALIGN: center
}
.articlePositionFooter DIV {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto; TEXT-ALIGN: left
}
.articleEmbeddedViewerBox {
	MARGIN: 0px 0px 10px; TEXT-ALIGN: left
}
.articleImageBox {
	COLOR: #888; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.articleImageCaption {
	FONT-SIZE: 10px; COLOR: #888; FONT-FAMILY: verdana,arial,sans-serif; TEXT-ALIGN: left
}
.articleFlashBox {
	COLOR: #888; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.articleFlashCaption {
	FONT-SIZE: 10px; COLOR: #888; FONT-FAMILY: verdana,arial,sans-serif; TEXT-ALIGN: left
}
.articleFlashDownload {
	FONT-SIZE: 8px
}
.articleBinaryBox {
	COLOR: #888; BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.articleBinaryCaption {
	FONT-SIZE: 10px; COLOR: #888; FONT-FAMILY: verdana,arial,sans-serif; TEXT-ALIGN: left
}
.articleLinkText {
	FONT-SIZE: 10px; COLOR: #00f; FONT-FAMILY: verdana,arial,sans-serif
}
.articleByline {
	FONT-SIZE: 10px; COLOR: #000; FONT-FAMILY: verdana,arial,sans-serif
}
.articleOptions {
	FONT-SIZE: 10px; COLOR: #f00; FONT-FAMILY: verdana,arial,sans-serif
}
.articlePreviousNewsLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000; FONT-FAMILY: verdana,arial,helvetica,sans-serif
}
.articleEmbeddedAdBox {
	CLEAR: left; MARGIN-TOP: 10px; FLOAT: left; MARGIN-BOTTOM: 10px; MARGIN-RIGHT: 10px
}
.articleAdRule {
	WIDTH: 100%
}
.packagesGrpBox {
	BORDER-TOP: #000 1px solid; MARGIN: 0px 0px 10px; BORDER-BOTTOM: #000 1px solid; BACKGROUND-COLOR: #edf0f5; TEXT-ALIGN: left
}
.packagesHeader {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; COLOR: #000; PADDING-TOP: 3px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.packageTitle {
	FONT-WEIGHT: bold; LIST-STYLE-TYPE: none
}
.packageDate {
	FONT-WEIGHT: bold; COLOR: #000; LIST-STYLE-TYPE: none
}
.packagesBox {
	BORDER-TOP: #000 1px solid; BACKGROUND-IMAGE: url(http://extras.mnginteractive.com/live/std/background-fade.gif); PADDING-BOTTOM: 3px
}
.packagesBox UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.packageItem {
	BACKGROUND-POSITION: 4px 6px; PADDING-LEFT: 18px; FONT-SIZE: 11px; BACKGROUND-IMAGE: url(http://extras.mnginteractive.com/live/std/bullet.jpg); COLOR: #0e347f; PADDING-TOP: 3px; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none
}
.articleFooterLinks {
	WIDTH: 100%; TEXT-ALIGN: center
}
P.expiredArticleMsg {
	FONT-WEIGHT: bold; COLOR: #f00; TEXT-ALIGN: center
}
.registerBody {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BACKGROUND-COLOR: #eff4fe
}
.registerNav {
	FONT-SIZE: 11px; PADDING-BOTTOM: 5px; COLOR: #333; PADDING-TOP: 5px; FONT-FAMILY: arial; BACKGROUND-COLOR: #eee
}
.registerTitleLine {
	COLOR: #dedede; HEIGHT: 4px
}
.registerBoundingBox {
	BORDER-RIGHT: #d1d1d1 1px solid; BORDER-TOP: #d1d1d1 1px solid; BORDER-LEFT: #d1d1d1 1px solid; BORDER-BOTTOM: #d1d1d1 1px solid; BACKGROUND-COLOR: #fff
}
.registerPageName {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #333; FONT-FAMILY: arial
}
.registerHeaderCopy {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #005e99; FONT-FAMILY: arial
}
.registerBodyCopy {
	FONT-SIZE: 12px; COLOR: #6a6a6a; LINE-HEIGHT: 16px; FONT-FAMILY: arial
}
.registerUserAlert {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0e5a0e; FONT-FAMILY: arial; BACKGROUND-COLOR: #fbfcac
}
.registerFormLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #6a6a6a; FONT-FAMILY: arial
}
.registerLink {
	FONT-SIZE: 12px; COLOR: #3d46fe; FONT-FAMILY: arial
}
.registerPasswordLink {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: arial
}
.registerLoginBox {
	BORDER-RIGHT: #d4d4d4 1px solid; BORDER-TOP: #d4d4d4 1px solid; BORDER-LEFT: #d4d4d4 1px solid; BORDER-BOTTOM: #d4d4d4 1px solid; BACKGROUND-COLOR: #eff4fe
}
.registerBulletHeader {
	FONT-SIZE: 14px; COLOR: #7f7f7f; FONT-FAMILY: arial
}
.registerBulletList {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: arial
}
.registerFormInstructions {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #6a6a6a; FONT-FAMILY: arial
}
.registerSmallBodyCopy {
	FONT-SIZE: 11px; COLOR: #6a6a6a; LINE-HEIGHT: 14px; FONT-STYLE: italic; FONT-FAMILY: arial
}
.registerLinkTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 7px; COLOR: #929292; FONT-FAMILY: arial
}
.registerFormRadio {
	FONT-SIZE: 12px; COLOR: #6a6a6a; FONT-FAMILY: arial
}
.registerFormRequired {
	FONT-SIZE: 12px; COLOR: #f00; FONT-FAMILY: arial
}
.registerFormError {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #f00; FONT-FAMILY: arial; BACKGROUND-COLOR: #fbecec
}
.registerFormErrorLabel {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #f00; FONT-FAMILY: arial
}
.registerFormConfirm {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #0e5a0e; FONT-FAMILY: arial; BACKGROUND-COLOR: #fbfcae
}
.registerFormErrorInstructions {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #f00; FONT-FAMILY: arial
}
#photoviewer {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; BORDER-LEFT: #000 1px solid; WIDTH: 200px; PADDING-TOP: 0px; BORDER-BOTTOM: #000 1px solid; BACKGROUND-COLOR: #666; TEXT-ALIGN: left
}
#photoviewer .clicktoenlargephoto {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #fff; PADDING-TOP: 5px; BORDER-BOTTOM: #ccc 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 14px; BACKGROUND-COLOR: #7f7f7f
}
#photoviewer .photocontainer {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px auto; OVERFLOW: hidden; PADDING-TOP: 0px; POSITION: relative; BACKGROUND-COLOR: #666
}
#photoviewer .photocell {
	VERTICAL-ALIGN: middle; POSITION: absolute; TOP: 50%; TEXT-ALIGN: center
}
#photoviewer .photocell A:link IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#photoviewer .photocell A:visited IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#photoviewer .photo {
	POSITION: relative; TOP: -50%
}
 HTML #photoviewer P {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
#photoviewer DIV.caption {
	PADDING-RIGHT: 5px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 10px; PADDING-BOTTOM: 5px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 5px; BORDER-BOTTOM: #000 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fff
}
#photoviewer UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none; BACKGROUND-COLOR: #999; max-height: 25px
}
#photoviewer UL LI {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#photoviewer UL LI A {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #333; PADDING-TOP: 5px
}
#photoviewer UL LI.on {
	COLOR: #666; BACKGROUND-COLOR: #ccc; TEXT-DECORATION: none
}
#photoviewer UL LI.previous {
	PADDING-RIGHT: 35px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#photoviewer UL LI.next {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: medium none; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: transparent
}
#photoviewer UL LI.previous A {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; DISPLAY: block; BORDER-LEFT: medium none; COLOR: #333; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: transparent
}
#photoviewer UL LI.next A {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; DISPLAY: block; BORDER-LEFT: medium none; COLOR: #333; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: transparent
}
#photoviewer TABLE.controlbox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 10px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 100%; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #999; max-height: 25px
}
#photoviewer TD LI {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#photoviewer TR TD LI {
	BORDER-LEFT: #000 1px solid
}
#photoviewer TD LI A {
	PADDING-RIGHT: 5px; DISPLAY: block; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #333; PADDING-TOP: 5px
}
#photoviewer TD LI.on {
	COLOR: #666; BACKGROUND-COLOR: #ccc; TEXT-DECORATION: none
}
#photoviewer TD LI.previous {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FLOAT: left; MARGIN: 0px; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
#photoviewer TD LI.next {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FLOAT: right; MARGIN: 0px; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: transparent
}
#photoviewer TD LI.previous A {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; DISPLAY: block; BORDER-LEFT: medium none; COLOR: #333; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: transparent
}
#photoviewer TD LI.next A {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; DISPLAY: block; BORDER-LEFT: medium none; COLOR: #333; BORDER-BOTTOM: medium none; BACKGROUND-COLOR: transparent
}
#photoviewer .footer {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#photoviewer DIV.controlbox {
	HEIGHT: 23px
}
#photoviewer LI {
	LIST-STYLE-IMAGE: none
}
.pollsAnswer {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; VERTICAL-ALIGN: top; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #e0e5dc
}
.pollsBox {
	WIDTH: 150px; BACKGROUND-COLOR: #e0e5dc
}
.pollsHead {
	BORDER-TOP-WIDTH: 0px; MARGIN-TOP: 0px; FONT-WEIGHT: bold; BORDER-LEFT-WIDTH: 0px; FONT-SIZE: 14px; BORDER-BOTTOM-WIDTH: 0px; VERTICAL-ALIGN: middle; COLOR: #f8faf8; TEXT-INDENT: 8px; FONT-STYLE: normal; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #666; BORDER-RIGHT-WIDTH: 0px
}
.pollsQuestion {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #e0e5dc
}
.pollsSubmit {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: verdana,arial,sans-serif
}
.pollsViewResults {
	FONT-SIZE: 11px; COLOR: #e0e5dc; FONT-STYLE: normal; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #333; TEXT-ALIGN: center
}
.nav {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #bac8d4
}
A.nav:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #bac8d4; TEXT-DECORATION: underline
}
A.nav:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #bac8d4; TEXT-DECORATION: underline
}
A.nav:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #bac8d4; TEXT-DECORATION: underline
}
A.nav:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #bac8d4; TEXT-DECORATION: none
}
A.navlevel_1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #bac8d4; TEXT-DECORATION: none
}
A.navlevel_1_on {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #bac8d4; TEXT-DECORATION: underline
}
A.navlevel_2 {
	FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #bac8d4; TEXT-DECORATION: none
}
A.navlevel_2_on {
	FONT-SIZE: 12px; COLOR: #000; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #bac8d4; TEXT-DECORATION: underline
}
A.navlevel_3 {
	FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #bac8d4; TEXT-DECORATION: none
}
A.navlevel_3_on {
	FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #bac8d4; TEXT-DECORATION: underline
}
A.navlevel_4 {
	FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #bac8d4; TEXT-DECORATION: none
}
A.navlevel_4_on {
	FONT-SIZE: 11px; COLOR: #000; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #bac8d4; TEXT-DECORATION: underline
}
.TLDetailBox {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: center
}
.TLDetailHeader {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: center
}
.TLDetailFooter {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: center
}
.TLDetailBody {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; VERTICAL-ALIGN: top; BORDER-LEFT: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: center
}
.TLDetailLink {
	FONT-SIZE: 10px; COLOR: #444; FONT-FAMILY: verdana,arial,sans-serif; TEXT-DECORATION: none
}
.TLDetailOptions {
	FONT-SIZE: 8px; COLOR: #11a; FONT-STYLE: normal; FONT-FAMILY: verdana,arial,sans-serif; TEXT-DECORATION: underline
}
.TLDetailTitle {
	FONT-SIZE: 14px; COLOR: #000; FONT-FAMILY: verdana,arial,sans-serif; TEXT-DECORATION: none
}
.TLDetailDescription {
	FONT-SIZE: 10px; COLOR: #000; FONT-FAMILY: verdana,arial,sans-serif; TEXT-DECORATION: none
}
.TLBox {
	BORDER-RIGHT: #669 0px; BORDER-TOP: #669 0px; FONT-SIZE: 10px; BORDER-LEFT: #669 0px; COLOR: #000; BORDER-BOTTOM: #669 0px; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #dde; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TLBoxHeader {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 10px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #669; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TLBoxImage {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; TEXT-ALIGN: center
}
.TLBoxContent {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 10px; BORDER-LEFT: 0px; COLOR: #000; TEXT-INDENT: 5px; BORDER-BOTTOM: 0px; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #dde; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TLBoxTabTable {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 10px; BORDER-LEFT: 0px; COLOR: #000; BORDER-BOTTOM: 0px; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #dde; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TLBoxTab {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #dde; TEXT-ALIGN: left; FONT-VARIANT: small-caps; TEXT-DECORATION: none
}
.TLBoxTabSelected {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #999; TEXT-ALIGN: left; FONT-VARIANT: small-caps; TEXT-DECORATION: none
}
.TLBoxTabLink {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #900; FONT-FAMILY: verdana,arial,sans-serif; TEXT-ALIGN: center; FONT-VARIANT: small-caps; TEXT-DECORATION: none
}
.TLBoxType {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666; FONT-FAMILY: verdana,arial,sans-serif; TEXT-ALIGN: left; FONT-VARIANT: small-caps; TEXT-DECORATION: none
}
.TLBoxTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #666; FONT-FAMILY: verdana,arial,sans-serif; TEXT-ALIGN: left; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.TLBoxCompany {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #222; TEXT-INDENT: 15px; FONT-FAMILY: verdana,arial,sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.TLBoxAllListings {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10px; BORDER-LEFT: 0px; COLOR: #900; BORDER-BOTTOM: 0px; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #dde; TEXT-ALIGN: center; FONT-VARIANT: small-caps; TEXT-DECORATION: none
}
.TLBoxFooter {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 10px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; FONT-FAMILY: verdana,arial,sans-serif; BACKGROUND-COLOR: #669; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.TLBoxRule {
	COLOR: #558; BORDER-TOP-STYLE: dashed; BORDER-RIGHT-STYLE: dashed; BORDER-LEFT-STYLE: dashed; BORDER-BOTTOM-STYLE: dashed
}
.TLALLError {
	FONT-SIZE: 10px; COLOR: #999; FONT-FAMILY: verdana,arial,sans-serif
}
.TLAllTable {
	BORDER-RIGHT: #000 1px; BORDER-TOP: #000 1px; BORDER-LEFT: #000 1px; BORDER-BOTTOM: #000 1px; TEXT-ALIGN: left
}
.TLAllListingTable {
	BORDER-RIGHT: #000 1px; BORDER-TOP: #000 1px; BORDER-LEFT: #000 1px; BORDER-BOTTOM: #000 1px; TEXT-ALIGN: left
}
.TLAllListingCell {
	BORDER-RIGHT: #000 1px; BORDER-TOP: #000 1px; BORDER-LEFT: #000 1px; BORDER-BOTTOM: #000 1px; TEXT-ALIGN: center
}
.TLAllTypeHeading {
	BORDER-RIGHT: #000 1px; BORDER-TOP: #000 1px; BORDER-LEFT: #000 1px; BORDER-BOTTOM: #000 1px; TEXT-ALIGN: left
}
.TLAllTypeSubHeading {
	BORDER-RIGHT: #000 1px; BORDER-TOP: #000 1px; BORDER-LEFT: #000 1px; BORDER-BOTTOM: #000 1px; TEXT-ALIGN: left
}
.TLAllTypeName {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #906; FONT-FAMILY: verdana,arial,sans-serif
}
.TLAllSubTypeName {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #22a; FONT-FAMILY: verdana,arial,sans-serif
}
.TLAllListingTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #888; FONT-FAMILY: verdana,arial,sans-serif; FONT-VARIANT: small-caps; TEXT-DECORATION: underline
}
.TLAllListingText {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #008
}
A.privacyPolicyLink {
	FONT-SIZE: 0.75em; FONT-FAMILY: arial
}
.privacyPolicyPage {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.privacyPolicyTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-FAMILY: arial; TEXT-ALIGN: center
}
.privacyPolicyNameDomainTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-FAMILY: arial; TEXT-ALIGN: center
}
.privacyPolicyBody {
	PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12pt; FONT-FAMILY: arial; TEXT-ALIGN: left
}
.privacyPolicyBodyIndented {
	PADDING-LEFT: 50px; FONT-WEIGHT: normal; FONT-SIZE: 12pt; FONT-FAMILY: arial; TEXT-ALIGN: left
}
.privacyPolicyHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-FAMILY: arial; TEXT-ALIGN: left
}
.privacyPolicyBulletPoint {
	FONT-WEIGHT: normal; FONT-SIZE: 12pt; FONT-FAMILY: arial; TEXT-ALIGN: left
}
.privacyPolicyCoordinator {
	PADDING-LEFT: 100px; FONT-WEIGHT: normal; FONT-SIZE: 12pt; FONT-FAMILY: arial; TEXT-ALIGN: left
}
A.privacyPolicyEmail {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-FAMILY: arial
}
.vFastSearchbox {
	BORDER-RIGHT: #2c5c8a 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #2c5c8a 6px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #2c5c8a 1px solid; WIDTH: 100%; PADDING-TOP: 5px; BORDER-BOTTOM: #2c5c8a 1px solid; BACKGROUND-COLOR: #b9dafb
}
.vFastSearchQueryWrap {
	WIDTH: 100%; TEXT-ALIGN: center
}
.vFastSearchQuery {
	FONT-SIZE: 10px; WIDTH: 130px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.vFastSearchButtonWrap {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: 100%; PADDING-TOP: 5px; TEXT-ALIGN: right
}
.vFastSearchButton {
	BORDER-RIGHT: #363 0px solid; PADDING-RIGHT: 2px; BORDER-TOP: #696 0px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#457DB3',EndColorStr='#2C5C8A'); PADDING-BOTTOM: 2px; BORDER-LEFT: #696 0px solid; CURSOR: hand; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #363 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #2c5c8a
}
.vFastSearchButtonHover {
	BORDER-RIGHT: #fffccf 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #fffccf 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 10px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#457DB3',EndColorStr='#2C5C8A'); PADDING-BOTTOM: 1px; BORDER-LEFT: #fffccf 1px solid; CURSOR: hand; COLOR: #fff; PADDING-TOP: 1px; BORDER-BOTTOM: #fffccf 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #2c5c8a
}
.vFastSearchInstructionWrap {
	DISPLAY: none; PADDING-LEFT: 5px; WIDTH: 100%; TEXT-ALIGN: left
}
.vFastSearchInstruction {
	FONT-SIZE: 10px; COLOR: #f00
}
.hFastSearchbox {
	BORDER-RIGHT: #2c5c8a 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #2c5c8a 6px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #2c5c8a 1px solid; WIDTH: 500px; PADDING-TOP: 5px; BORDER-BOTTOM: #2c5c8a 1px solid; BACKGROUND-COLOR: #b9dafb
}
.hFastSearchQueryWrap {
	TEXT-ALIGN: center
}
.hFastSearchQuery {
	FONT-SIZE: 10px; WIDTH: 200px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.hFastSearchButtonWrap {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: 100%; PADDING-TOP: 5px; TEXT-ALIGN: right
}
.hFastSearchButton {
	BORDER-RIGHT: #363 0px solid; PADDING-RIGHT: 2px; BORDER-TOP: #696 0px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#457DB3',EndColorStr='#2C5C8A'); PADDING-BOTTOM: 2px; BORDER-LEFT: #696 0px solid; CURSOR: hand; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #363 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #2c5c8a
}
.hFastSearchButtonHover {
	BORDER-RIGHT: #fffccf 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #fffccf 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 10px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#457DB3',EndColorStr='#2C5C8A'); PADDING-BOTTOM: 1px; BORDER-LEFT: #fffccf 1px solid; CURSOR: hand; COLOR: #fff; PADDING-TOP: 1px; BORDER-BOTTOM: #fffccf 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #2c5c8a
}
.hFastSearchInstructionWrap {
	DISPLAY: none; PADDING-LEFT: 5px; WIDTH: 100%; TEXT-ALIGN: left
}
.hFastSearchInstruction {
	FONT-SIZE: 10px; COLOR: #f00
}
.rFastSearchbox {
	BORDER-RIGHT: #2c5c8a 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #2c5c8a 6px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #2c5c8a 1px solid; WIDTH: 800px; PADDING-TOP: 5px; BORDER-BOTTOM: #2c5c8a 1px solid; BACKGROUND-COLOR: #b9dafb
}
.rFastSearchQueryWrap {
	WIDTH: 100%; TEXT-ALIGN: center
}
.rFastSearchQuery {
	FONT-SIZE: 10px; WIDTH: 220px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.rFastSearchButtonWrap {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: 100%; PADDING-TOP: 5px; TEXT-ALIGN: right
}
.rFastSearchButton {
	BORDER-RIGHT: #363 0px solid; PADDING-RIGHT: 2px; BORDER-TOP: #696 0px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; FONT-SIZE: 10px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#457DB3',EndColorStr='#2C5C8A'); PADDING-BOTTOM: 2px; BORDER-LEFT: #696 0px solid; WIDTH: 50px; CURSOR: hand; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: #363 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #2c5c8a
}
.rFastSearchButtonHover {
	BORDER-RIGHT: #fffccf 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #fffccf 1px solid; PADDING-LEFT: 1px; FONT-WEIGHT: bold; FONT-SIZE: 10px; FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr='#457DB3',EndColorStr='#2C5C8A'); PADDING-BOTTOM: 1px; BORDER-LEFT: #fffccf 1px solid; WIDTH: 50px; CURSOR: hand; COLOR: #fff; PADDING-TOP: 1px; BORDER-BOTTOM: #fffccf 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #2c5c8a
}
.rFastSearchInstructionWrap {
	DISPLAY: none; PADDING-LEFT: 5px; WIDTH: 100%; TEXT-ALIGN: left
}
.rFastSearchInstruction {
	FONT-SIZE: 10px; COLOR: #f00
}
.mtTable {
	WIDTH: 100%
}
.mtTr {
	CURSOR: hand
}
.mtImageTd {
	TEXT-ALIGN: center
}
.mtTextTd {
	TEXT-ALIGN: left
}
.mrTable {
	FONT-SIZE: 10px; COLOR: #fff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #2e6294
}
.mrHeader {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000; BACKGROUND-COLOR: #ccdae7
}
.mrImage {
	
}
.mrLinkTd {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
A.mrLink:link {
	COLOR: #fff
}
A.mrLink:active {
	COLOR: #fff
}
A.mrLink:visited {
	COLOR: #fff
}
A.mrLink:hover {
	COLOR: #fff
}
.mrHidden {
	DISPLAY: none
}
.mrDisplayed {
	DISPLAY: inline
}
.mrMoreLinkTd {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; TEXT-ALIGN: right
}
.mrMoreLink {
	CURSOR: hand; COLOR: #fff; TEXT-DECORATION: underline
}
#tabs {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; BACKGROUND: #2c5c8a; COLOR: #fff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#searchbox {
	BORDER-RIGHT: #2c5c8a 1px solid; BORDER-TOP: #2c5c8a 6px solid; FONT-SIZE: 10px; BORDER-LEFT: #2c5c8a 1px solid; BORDER-BOTTOM: #2c5c8a 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #b9dafb
}
#searchbox .searchText {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#searchbox P {
	
}
#searchbox A:link {
	COLOR: #000
}
#searchbox A:active {
	COLOR: #000
}
#searchbox A:visited {
	COLOR: #000
}
#searchbox A:hover {
	COLOR: #2e6294
}
#searchbox INPUT.btn {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #fff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #2c5c8a
}
#searchbox INPUT.btnhov {
	BORDER-RIGHT: #fffccf 1px solid; BORDER-TOP: #fffccf 1px solid; BORDER-LEFT: #fffccf 1px solid; BORDER-BOTTOM: #fffccf 1px solid
}
#sections {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #edf6ff
}
#sections H1 {
	FONT-SIZE: 10px; COLOR: #2c5c8a; BORDER-BOTTOM: #2c5c8a 1px solid
}
#archivetop {
	BACKGROUND-COLOR: #dcedfd
}
#results {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#results B {
	FONT-WEIGHT: normal; BACKGROUND-COLOR: #bbd0ff
}
#results A:link {
	COLOR: #000
}
#results A:active {
	COLOR: #000
}
#results A:visited {
	COLOR: #000
}
#results A:hover {
	COLOR: #2e6294
}
#breadcrumb {
	FONT-SIZE: 11px; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e8ecef
}
#breadcrumb .refine {
	FONT-SIZE: 11px
}
#breadcrumb A:link {
	COLOR: #000
}
#breadcrumb A:active {
	COLOR: #000
}
#breadcrumb A:visited {
	COLOR: #000
}
#breadcrumb A:hover {
	COLOR: #2e6294
}
#pagenav {
	FONT-SIZE: 10px; COLOR: #fff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #2e6294; TEXT-ALIGN: center
}
#pagenav TD {
	FONT-WEIGHT: normal; FONT-SIZE: 10px
}
#pagenav A.currentPage:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #fff; BACKGROUND-COLOR: #2e6294; TEXT-DECORATION: underline
}
#pagenav A.currentPage:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #fff; BACKGROUND-COLOR: #2e6294; TEXT-DECORATION: underline
}
#pagenav A.currentPage:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #fff; BACKGROUND-COLOR: #2e6294; TEXT-DECORATION: underline
}
#pagenav A.currentPage:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #fff; BACKGROUND-COLOR: #2e6294; TEXT-DECORATION: underline
}
#pagenav A.pageLink:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #fff; TEXT-DECORATION: none
}
#pagenav A.pageLink:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #fff; TEXT-DECORATION: none
}
#pagenav A.pageLink:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #fff; TEXT-DECORATION: none
}
#pagenav A.pageLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #fff; TEXT-DECORATION: none
}
#pagenav A.pageLink:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #fff; TEXT-DECORATION: underline
}
#archivebottom {
	BACKGROUND-COLOR: #d9e3ec
}
#tools {
	WIDTH: 176px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#tools H1 {
	FONT-SIZE: 11px; BORDER-BOTTOM: #2c5c8a 1px solid; BACKGROUND-COLOR: #e8ecef
}
#back {
	BORDER-BOTTOM: #2c5c8a 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fffccf
}
#back A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #2c5c8a
}
#back A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #2c5c8a
}
#back A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #2c5c8a
}
#back A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #2c5c8a
}
#category {
	FONT-SIZE: 10px; COLOR: #fff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #2e6294
}
#category TD {
	FONT-SIZE: 10px; COLOR: #fff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #2e6294
}
#category H1 {
	BORDER-TOP: medium none; FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ccdae7
}
#category UL {
	PADDING-RIGHT: 6px; PADDING-LEFT: 0px; FONT-SIZE: 10px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#category LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 10px; PADDING-BOTTOM: 2px; MARGIN: 0px 0px 0px 30px; LINE-HEIGHT: 15px; PADDING-TOP: 2px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#category A:link {
	FONT-SIZE: 10px; COLOR: #fff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#category A:visited {
	FONT-SIZE: 10px; COLOR: #fff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#category A:active {
	FONT-SIZE: 10px; COLOR: #fff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#category A:hover {
	FONT-SIZE: 10px; COLOR: #fff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: underline
}
#category UL UL {
	MARGIN-TOP: 3px; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
#category UL LI UL LI {
	MARGIN-TOP: 0px; FONT-SIZE: 10px; LIST-STYLE-IMAGE: none; MARGIN-LEFT: 0px; LINE-HEIGHT: 15px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none
}
.no-bullet {
	LIST-STYLE-IMAGE: none
}
.otherrefine {
	BACKGROUND-COLOR: #fffccf
}
.otherrefine P {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.otherrefine TD {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.otherrefine A:link {
	COLOR: #000; TEXT-DECORATION: none
}
.otherrefine A:active {
	COLOR: #000; TEXT-DECORATION: none
}
.otherrefine A:visited {
	COLOR: #000; TEXT-DECORATION: none
}
.otherrefine A:hover {
	COLOR: #2e6294; TEXT-DECORATION: underline
}
#related {
	BORDER-TOP: #2c5c8a 1px solid; FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f9fc
}
#related H1 {
	BORDER-RIGHT: #2c5c8a; FONT-SIZE: 11px; BORDER-LEFT: #2c5c8a; BACKGROUND-COLOR: #e8ecef
}
#related A:link {
	COLOR: #000
}
#related A:active {
	COLOR: #000
}
#related A:visited {
	COLOR: #000
}
#related A {
	COLOR: #000
}
#related A:hover {
	COLOR: #2e6294
}
#dates {
	COLOR: #fff; BACKGROUND-COLOR: #2e6294
}
#dates LI {
	FONT-SIZE: 10px; COLOR: #fff
}
#dates H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000; BACKGROUND-COLOR: #ccdae7
}
#dates LI A:link {
	COLOR: #fff
}
#dates LI A:active {
	COLOR: #fff
}
#dates LI A:visited {
	COLOR: #fff
}
#dates LI A:hover {
	COLOR: #fff
}
#people {
	COLOR: #fff; BACKGROUND-COLOR: #2e6294
}
#people LI {
	FONT-SIZE: 10px; COLOR: #fff
}
#people H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000; BACKGROUND-COLOR: #ccdae7
}
#people LI A:link {
	COLOR: #fff
}
#people LI A:active {
	COLOR: #fff
}
#people LI A:visited {
	COLOR: #fff
}
#people LI A:hover {
	COLOR: #fff
}
#places {
	COLOR: #fff; BACKGROUND-COLOR: #2e6294
}
#places LI {
	FONT-SIZE: 10px; COLOR: #fff
}
#places LI A:link {
	COLOR: #fff
}
#places LI A:active {
	COLOR: #fff
}
#places LI A:visited {
	COLOR: #fff
}
#places LI A:hover {
	COLOR: #fff
}
#places H1 {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000; BACKGROUND-COLOR: #ccdae7
}
#bylines {
	COLOR: #fff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #2e6294
}
#bylines LI {
	FONT-SIZE: 10px; COLOR: #fff
}
#bylines H1 {
	COLOR: #000; BACKGROUND-COLOR: #ccdae7
}
#bylines LI A:link {
	COLOR: #fff
}
#people LI A:active {
	COLOR: #fff
}
#people LI A:visited {
	COLOR: #fff
}
#people LI A:hover {
	COLOR: #fff
}
.archiveSearch {
	BORDER-RIGHT: #2e6294 1px solid; BORDER-TOP: #2e6294 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 10px; BORDER-LEFT: #2e6294 1px solid; COLOR: #000; BORDER-BOTTOM: #2e6294 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ccdae7
}
A.archiveSearchLink:link {
	FONT-SIZE: 10px; COLOR: #000; TEXT-DECORATION: underline
}
A.archiveSearchLink:active {
	FONT-SIZE: 10px; COLOR: #000; TEXT-DECORATION: underline
}
A.archiveSearchLink:visited {
	FONT-SIZE: 10px; COLOR: #000; TEXT-DECORATION: underline
}
A.archiveSearchLink:hover {
	FONT-SIZE: 10px; COLOR: #000; TEXT-DECORATION: underline
}
.clearfix {
	
}
.sort {
	FONT-SIZE: 9px
}
.suggestion A:link {
	FONT-WEIGHT: bold; COLOR: #2d6293; FONT-STYLE: italic
}
.suggestion A:active {
	FONT-WEIGHT: bold; COLOR: #2d6293; FONT-STYLE: italic
}
.suggestion A:visited {
	FONT-WEIGHT: bold; COLOR: #2d6293; FONT-STYLE: italic
}
.suggestion A:hover {
	FONT-WEIGHT: bold; COLOR: #2d6293; FONT-STYLE: italic
}
.resultHeader {
	FONT-SIZE: 10px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
A.sortLink:link {
	FONT-SIZE: 10px; COLOR: #000; TEXT-DECORATION: underline
}
A.sortLink:visited {
	FONT-SIZE: 10px; COLOR: #000; TEXT-DECORATION: underline
}
A.sortLink:active {
	FONT-SIZE: 10px; COLOR: #000; TEXT-DECORATION: underline
}
A.sortLink:hover {
	FONT-SIZE: 10px; COLOR: #2e6294; TEXT-DECORATION: underline
}
A.resultTitleLink:link {
	FONT-SIZE: 11px; COLOR: #000; TEXT-DECORATION: underline
}
A.resultTitleLink:visited {
	FONT-SIZE: 11px; COLOR: #000; TEXT-DECORATION: underline
}
A.resultTitleLink:active {
	FONT-SIZE: 11px; COLOR: #000; TEXT-DECORATION: underline
}
A.resultTitleLink:hover {
	FONT-SIZE: 11px; COLOR: #2e6294; TEXT-DECORATION: underline
}
A.resultLink:link {
	FONT-SIZE: 9px; COLOR: #000; TEXT-DECORATION: underline
}
A.resultLink:visited {
	FONT-SIZE: 9px; COLOR: #000; TEXT-DECORATION: underline
}
A.resultLink:active {
	FONT-SIZE: 9px; COLOR: #000; TEXT-DECORATION: underline
}
A.resultLink:hover {
	FONT-SIZE: 9px; COLOR: #2e6294; TEXT-DECORATION: underline
}
.relevance {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #5d5d5d; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.resultTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.resultBlurb {
	FONT-SIZE: 10px; COLOR: #000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.resultDate {
	FONT-SIZE: 10px; COLOR: #000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.resultByline {
	FONT-SIZE: 9px; COLOR: #333; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.highlight {
	BACKGROUND-COLOR: #ccdae7
}
.open-similar {
	FLOAT: right
}
A.mngSitemapLink {
	FONT-SIZE: 0.75em; FONT-FAMILY: arial
}
A.customWeatherCopyrightLink {
	FONT-SIZE: 0.75em; FONT-FAMILY: arial
}
A.copyrightLink {
	FONT-SIZE: 0.75em; FONT-FAMILY: arial
}
A.footerLinkSeparator {
	FONT-SIZE: 0.75em; FONT-FAMILY: arial
}
DIV.layoutFooterLinks {
	TEXT-ALIGN: center
}
.social_bookmarks {
	MARGIN-TOP: 7px; WIDTH: 100%; TEXT-ALIGN: center
}
.social_bookmarks SPAN {
	FONT-SIZE: 10px; COLOR: black; MARGIN-RIGHT: 5px
}
.delicious {
	MARGIN-LEFT: auto
}
.social-help {
	MARGIN-RIGHT: auto
}
.social_bookmarks A {
	TEXT-DECORATION: none
}
.social_bookmarks A:link {
	FONT-SIZE: 10px; COLOR: black
}
.social_bookmarks A:visited {
	FONT-SIZE: 10px; COLOR: black
}
.social_bookmarks IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; MARGIN-RIGHT: 2px; BORDER-BOTTOM: 0px
}
.social_divider {
	WIDTH: 90%; COLOR: gray; HEIGHT: 1px
}
.copyrightPage .title {
	MARGIN-TOP: 10px; FONT-SIZE: 1.4em; TEXT-ALIGN: center
}
.copyrightPage .sub {
	LIST-STYLE-TYPE: lower-roman
}
.copyrightPage LI {
	MARGIN-BOTTOM: 10px
}
.mostWidth {
	WIDTH: 300px
}
.mostViewedBox A {
	TEXT-DECORATION: none
}
.mostTabsBox {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.mostTabsBox LI {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; LIST-STYLE-TYPE: none
}
.mostTabsBox LI A {
	COLOR: #000
}
.mostHeader {
	PADDING-RIGHT: 15px; PADDING-LEFT: 7px; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
.mostNote {
	FLOAT: left
}
.mostRss {
	FLOAT: right
}
.mostClear {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.mostTab {
	BACKGROUND: #999
}
.mostTabSelected {
	BACKGROUND: #ccc
}
.mostTabBody {
	BORDER-RIGHT: #ccc 3px solid; BORDER-TOP: #ccc 3px solid; BORDER-LEFT: #ccc 3px solid; BORDER-BOTTOM: #ccc 3px solid
}
.textLinksRegion {
	TEXT-ALIGN: center
}
