.inlineSub {
	FONT: bold 14px verdana,arial,sans-serif
}
.infoBox {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 4px; BACKGROUND: url(http://extras.mnginteractive.com/live/media/site297/2006/0628/20060628__slt_grad_GrayWhite.gif) #e3e0d8; PADDING-BOTTOM: 4px; BORDER-LEFT: #000000 1px solid; WIDTH: 50%; PADDING-TOP: 4px; BORDER-BOTTOM: #000000 1px solid
}
.complexListingBox {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 4px; BORDER-LEFT: #000 1px solid; WIDTH: 90%; PADDING-TOP: 0px; BORDER-BOTTOM: #000 1px solid
}
.complexListingBox TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px
}
.complexListingTitle {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; BACKGROUND: #843c39; PADDING-BOTTOM: 2px; FONT: bold 12px verdana,arial,sans-serif; WIDTH: 100%; COLOR: #fff; PADDING-TOP: 2px
}
.complexListingTitle A {
	COLOR: #fff
}
.complexListingTitle A:visited {
	COLOR: #fff
}
.complexListingTitle A:hover {
	COLOR: #fff
}
.complexListingHeader {
	FONT: bold 13px verdana,arial,sans-serif; COLOR: #000
}
DIV.listingItemTitle {
	BACKGROUND: #fff
}
.listingItemTitle {
	FONT: bold 14px verdana,arial,sans-serif; COLOR: #036; TEXT-DECORATION: none
}
.listingArticleBlurb {
	FONT: 11px verdana,arial,sans-serif; COLOR: #000; TEXT-DECORATION: none
}
.listingArticleLinkTo {
	FONT: 11px verdana,arial,sans-serif; COLOR: #003; TEXT-DECORATION: none
}
.complexListingMoreHeadlines {
	FONT: 11px verdana,arial,sans-serif; COLOR: #003; TEXT-DECORATION: none
}
.listNoImage {
	COLOR: #036
}
A.complexListingLink {
	FONT: bold 10px verdana,arial,sans-serif; COLOR: #036; TEXT-DECORATION: none
}
A.complexListingLink:visited {
	FONT: bold 10px verdana,arial,sans-serif; COLOR: #333; TEXT-DECORATION: none
}
A.complexListingLink:hover {
	FONT: bold 10px verdana,arial,sans-serif; COLOR: #369; TEXT-DECORATION: underline
}
.complexListingItemPhotoCredit {
	DISPLAY: none
}
complexListingImage {
	DISPLAY: none
}
.articleBlurb {
	FONT: 10px Verdana,arial,sans-serif; COLOR: #000
}
.articleBody {
	FONT: 11pt/20px "Times New Roman",Times,serif
}
.articleDate {
	FONT: 10px Verdana,arial,sans-serif; COLOR: #000
}
.articleOverline {
	FONT: bold 12px Verdana,arial,sans-serif; COLOR: #666
}
.articleTitle {
	PADDING-BOTTOM: 10px; FONT: bold 20px Verdana,Arial,Helvetica,sans-serif; COLOR: #000; TEXT-DECORATION: none
}
.articleSubTitle {
	PADDING-BOTTOM: 10px; FONT: 14px Verdana,arial,sans-serif; COLOR: #666
}
.articleImagebox {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; COLOR: #fff; BORDER-BOTTOM: 0px
}
.articleImageCaption {
	FONT: 12px Verdana,arial,sans-serif; COLOR: #666
}
.articleLinkText {
	FONT: 10px Verdana,arial,sans-serif; COLOR: #006
}
.articleByline {
	PADDING-BOTTOM: 10px; FONT: bold 10px Verdana,arial,sans-serif
}
.articleOptions {
	FONT: 10px Verdana,arial,sans-serif; COLOR: #006
}
.otherArticlesBox {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 0px; BORDER-TOP: medium none; PADDING-LEFT: 0px; BACKGROUND: #e7e7d6; PADDING-BOTTOM: 0px; MARGIN: 0px; FONT: 12px Verdana,arial,sans-serif; BORDER-LEFT: medium none; WIDTH: 150px; COLOR: #e7e7d6; PADDING-TOP: 0px; BORDER-BOTTOM: medium none; LIST-STYLE-TYPE: square
}
.otherArticlesHead {
	BORDER-RIGHT: #000 0px solid; PADDING-RIGHT: 3px; BORDER-TOP: #000 0px solid; PADDING-LEFT: 3px; BACKGROUND: #036; PADDING-BOTTOM: 3px; FONT: 12px Verdana,arial,sans-serif; BORDER-LEFT: #000 0px solid; COLOR: #fff; PADDING-TOP: 3px; BORDER-BOTTOM: #000 0px solid; TEXT-ALIGN: left
}
.otherArticlesTitle {
	FONT: bold 10pt Verdana,Arial,Helvetica,sans-serif; COLOR: #fff
}
.otherArticlesBullet {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; FONT: bold 12px verdana,arial,sans-serif; COLOR: #036; PADDING-TOP: 3px; TEXT-DECORATION: none
}
.otherArticlesBullet:visited {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; FONT: bold 12px verdana,arial,sans-serif; COLOR: #fff; PADDING-TOP: 3px; TEXT-DECORATION: none
}
.otherArticlesBullet:hover {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; FONT: bold 12px verdana,arial,sans-serif; COLOR: #fff; PADDING-TOP: 3px; TEXT-DECORATION: none
}
.otherArticlesBullet:active {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; FONT: bold 12px verdana,arial,sans-serif; COLOR: #fff; PADDING-TOP: 3px; TEXT-DECORATION: none
}
.articleAdHeader {
	FONT: 10px Verdana,Arial,Helvetica,sans-serif
}
.articleAdRule {
	HEIGHT: 1px
}
.pollsAnswer {
	FONT: bold 10px Verdana,arial,sans-serif; VERTICAL-ALIGN: top; COLOR: #000
}
.pollsBox {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 2px; BACKGROUND: #e3e0d8; MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 2px; BORDER-LEFT: #000 1px solid; WIDTH: 200px; PADDING-TOP: 2px; BORDER-BOTTOM: #000 1px solid
}
.pollsHead {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: #833c38; PADDING-BOTTOM: 2px; FONT: bold 11px Verdana,Arial,Helvetica,sans-serif; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; BORDER-RIGHT-WIDTH: 0px
}
.pollsQuestion {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; FONT: bold 10px Verdana,arial,sans-serif; COLOR: #000; PADDING-TOP: 4px; TEXT-ALIGN: left
}
.pollsResult {
	FONT: bold 10px Verdana,arial,sans-serif; COLOR: #000; TEXT-ALIGN: left
}
.pollsSubmit {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; FONT: bold 11px Verdana,arial,sans-serif; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid
}
.pollsViewResults {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; FONT: 11px Verdana,arial,sans-serif; COLOR: #000; PADDING-TOP: 4px; TEXT-ALIGN: center
}
#photoviewer {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BACKGROUND: #7d7769; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid
}
#photoviewer .clicktoenlargephoto {
	BACKGROUND: #7d7769; FONT: 9px Verdana,Arial,Helvetica,sans-serif; COLOR: #fff; BORDER-BOTTOM: #fff 1px solid
}
#photoviewer .photocontainer {
	BACKGROUND: #7d7769
}
#photoviewer .photocell A:link IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#photoviewer .photocell A:visited IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#photoviewer .caption {
	BACKGROUND: #7d7769; FONT: 11px/1 Verdana,Arial,Helvetica,sans-serif; COLOR: #fff
}
#photoviewer UL {
	BACKGROUND: #7d7769; FONT: 11px Verdana,Arial,Helvetica,sans-serif
}
#photoviewer UL LI {
	BORDER-RIGHT: #fff 1px solid
}
#photoviewer UL LI A {
	COLOR: #fff
}
#photoviewer UL LI.on {
	BACKGROUND: #7d7769; COLOR: #fff; TEXT-DECORATION: none
}
#photoviewer UL LI.next {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
#photoviewer UL LI.previous A {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: medium none; COLOR: #fff; BORDER-BOTTOM: medium none
}
#photoviewer UL LI.next A {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: medium none; COLOR: #fff; BORDER-BOTTOM: medium none
}
#photoviewer TABLE.controlbox {
	BACKGROUND: #7d7769; FONT: 9px Verdana,Arial,Helvetica,sans-serif
}
#photoviewer TD LI {
	BORDER-RIGHT: #fff 1px solid
}
#photoviewer TR TD LI {
	BORDER-LEFT: #fff 1px solid
}
#photoviewer TD LI A {
	COLOR: #fff
}
#photoviewer TD LI.on {
	BACKGROUND: #7d7769; COLOR: #fff; TEXT-DECORATION: none
}
#photoviewer TD LI.next {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
#photoviewer TD LI.previous A {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: medium none; COLOR: #fff; BORDER-BOTTOM: medium none
}
#photoviewer TD LI.next A {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: medium none; COLOR: #fff; BORDER-BOTTOM: medium none
}
.packagesGrpBox {
	BORDER-TOP: #000 0px solid; BACKGROUND: #edf0f5; MARGIN: 0px 0px 10px; BORDER-BOTTOM: #000 1px solid; TEXT-ALIGN: left
}
.packagesHeader {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; BACKGROUND: #843c39; PADDING-BOTTOM: 2px; FONT: bold 12px verdana,arial,sans-serif; WIDTH: 100%; COLOR: #fff; PADDING-TOP: 2px
}
.packageTitle {
	FONT-WEIGHT: bold; LIST-STYLE-TYPE: none
}
.packageDate {
	FONT-WEIGHT: bold; COLOR: #000; LIST-STYLE-TYPE: none
}
.packagesBox {
	BORDER-TOP: #000 0px solid; BACKGROUND: url(http://extras.mnginteractive.com/live/std/background-fade.gif); PADDING-BOTTOM: 3px
}
.packagesBox UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.packageItem {
	FONT: bold 10px verdana,arial,sans-serif; COLOR: #036; TEXT-DECORATION: none
}
.packageItem A:link {
	FONT: bold 10px verdana,arial,sans-serif; COLOR: #036; TEXT-DECORATION: none
}
.packageItem A:visited {
	FONT: bold 10px verdana,arial,sans-serif; COLOR: #333; TEXT-DECORATION: none
}
.packageItem A:hover {
	FONT: bold 10px verdana,arial,sans-serif; COLOR: #369; TEXT-DECORATION: underline
}
.Layer {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 4px; BACKGROUND: #fcfed8; FILTER: Alpha(Opacity=90); PADDING-BOTTOM: 4px; BORDER-LEFT: #000 1px solid; PADDING-TOP: 4px; BORDER-BOTTOM: #000 1px solid
}
.layerHeader {
	FONT: bold 12pt Verdana,Arial,Helvetica,sans-serif; COLOR: #666
}
.LayerBody {
	FONT: 8pt Verdana,Arial,Helvetica,sans-serif
}
.postTime {
	DISPLAY: none; VISIBILITY: hidden
}
.clikTableWide {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 0px; MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000 1px solid; WIDTH: 320px; PADDING-TOP: 0px; BORDER-BOTTOM: #000 1px solid
}
.clikTableWideTD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://extras.mnginteractive.com/live/media/site297/2006/0628/20060628__slt_grad_GrayWhite.gif) #e3e0d8; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.redHeader {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: #833c38; PADDING-BOTTOM: 2px; FONT: bold 11px Verdana, Arial, Helvetica, sans-serif; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; BORDER-RIGHT-WIDTH: 0px
}
.blueHeader {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #036; PADDING-BOTTOM: 2px; FONT: bold 11px Verdana, Arial, Helvetica, sans-serif; COLOR: #fff; TEXT-INDENT: 5px; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; BORDER-RIGHT-WIDTH: 0px
}
.clikBodytext {
	PADDING-RIGHT: 16px; PADDING-LEFT: 16px; PADDING-BOTTOM: 4px; FONT: 11px/16px Verdana, Arial, Helvetica, sans-serif; PADDING-TOP: 4px
}
.clikBodytext A {
	FONT-WEIGHT: bold; COLOR: #036
}
.clikBodytext A:visited {
	COLOR: #333
}
.clikBodytext A:hover {
	COLOR: #09c
}
.clikTable {
	BORDER-RIGHT: #000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000 1px solid; PADDING-LEFT: 0px; MARGIN-BOTTOM: 8px; PADDING-BOTTOM: 0px; BORDER-LEFT: #000 1px solid; WIDTH: 220px; PADDING-TOP: 0px; BORDER-BOTTOM: #000 1px solid
}
.clikTableTD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(http://extras.mnginteractive.com/live/media/site297/2006/0628/20060628__slt_grad_GrayWhite.gif) #e3e0d8; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.redHeader {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: #833c38; PADDING-BOTTOM: 2px; FONT: bold 11px Verdana, Arial, Helvetica, sans-serif; COLOR: #fff; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; BORDER-RIGHT-WIDTH: 0px
}
.blueHeader {
	BORDER-TOP-WIDTH: 0px; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #036; PADDING-BOTTOM: 2px; FONT: bold 11px Verdana, Arial, Helvetica, sans-serif; COLOR: #fff; TEXT-INDENT: 5px; PADDING-TOP: 2px; BORDER-BOTTOM: black 1px solid; BORDER-RIGHT-WIDTH: 0px
}
.clikBodytext {
	PADDING-RIGHT: 16px; PADDING-LEFT: 16px; PADDING-BOTTOM: 4px; FONT: 11px/16px Verdana, Arial, Helvetica, sans-serif; PADDING-TOP: 4px
}
.clikBodytext A {
	FONT-WEIGHT: bold; COLOR: #036
}
.clikBodytext A:visited {
	COLOR: #333
}
.clikBodytext A:hover {
	COLOR: #09c
}
.tipBox {
	BORDER-RIGHT: #666666 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #666666 1px solid; MARGIN-TOP: 3px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #666666 1px solid; BACKGROUND-COLOR: #f4edd5
}
.tipHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #833c38; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tipText {
	FONT-SIZE: 12px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tipText A:link {
	FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tipText A:visited {
	FONT-SIZE: 12px; COLOR: #003366; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.tipText A:hover {
	FONT-SIZE: 12px; COLOR: #006699; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
